httpx==0.27.0
langcodes==3.4.0
pathvalidate==3.2.0
Requests==2.32.3
thefuzz==0.22.1
beautifulsoup4==4.12.3
selenium==4.24.0
webdriver-manager==4.0.2
peewee==3.17.6
PyYAML==6.0.2
EbookLib==0.18
watchdog==5.0.3
pypdf==5.1.0
pytest==8.3.3 
pytest-mock==3.14.0
pytest-selenium==4.1.0